docs/workflow-n8n-modelo.json
{
  "name": "[MODELO] IA PRÉ ATENDIMENTO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-whats",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2352,
        -1360
      ],
      "id": "83db9f4b-6645-4a2d-a1b4-3a422c193272",
      "name": "Webhook",
      "webhookId": "874d82f1-c038-4d45-96ab-57e0642c16a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1936,
        -1360
      ],
      "id": "40d3e065-ad32-4054-ba4e-777e3b51be75",
      "name": "TELEFONE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b370a0c-60cd-470c-9c99-d3816c671e40",
              "name": "cliente",
              "value": "rengel_advocacia",
              "type": "string"
            },
            {
              "id": "81459376-48d9-4507-978d-23b1dd6cd74c",
              "name": "nome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $json.telefone_normalizado }}",
              "type": "string"
            },
            {
              "id": "b45d250b-35cf-44c2-9db7-01acb6809188",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "c0596df2-da8a-4942-84ad-b66bf1fb4fdd",
              "name": "id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "71bb532d-029a-48f4-afae-b6e597fe5a74",
              "name": "data_url",
              "value": "={{ $('Webhook').item.json.body.data.message.mediaUrl ?? $('Webhook').item.json.body.data.message.audioMessage?.url ?? $('Webhook').item.json.body.data.message.imageMessage?.url ?? $('Webhook').item.json.body.data.message.documentMessage?.url }}",
              "type": "string"
            },
            {
              "id": "0df6015c-6763-468a-8b71-cfc72283444f",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "082486a6-e364-457e-a47f-851441421ca9",
              "name": "data",
              "value": "={{ $json.data_formatada }}",
              "type": "string"
            },
            {
              "id": "13b40899-5a38-497e-85f0-9cb5f40dbac6",
              "name": "instancia_wpp",
              "value": "[José] Automações Internas",
              "type": "string"
            },
            {
              "id": "c1344156-c4f5-48f8-a799-dba04c5d2cb4",
              "name": "url_planilha",
              "value": "https://docs.google.com/spreadsheets/d/1BE21O93ewshWe8jySlObOnJtCuANHN_vhISVOUIzYLY/",
              "type": "string"
            },
            {
              "id": "74ef7236-79e9-4cd2-96fa-59caf0360ffc",
              "name": "url_audio",
              "value": "https://pktodizycnapmevqvjtf.supabase.co/storage/v1/object/public/audios/WhatsApp%20Audio%202026-02-27%20at%2014.07.23.opus",
              "type": "string"
            },
            {
              "id": "1232d60c-3e23-49b4-b18d-da6df3e06985",
              "name": "frase_gatilho",
              "value": "quero mais informações sobre o benefício",
              "type": "string"
            },
            {
              "id": "e4474c8d-88fe-4ca5-8fe4-56fe239441d3",
              "name": "frase_encerramento",
              "value": "Muito obrigado pela confiança e por me passar todas essas informações.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -1360
      ],
      "id": "f85891c1-cdbe-4015-9501-8af3151b6fca",
      "name": "DADOS LEAD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cffdb0c7-dae6-49f6-96c8-8175d5659fa8",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        -1360
      ],
      "id": "5b2d20f4-2900-4c92-a7ee-111fe4365460",
      "name": "EIXSTE OU NAO"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Juntar Mensagens1').item.json.textoCombinado2 }}",
        "options": {
          "systemMessage": "=## Identidade e Papel\n\nVocê é o **Dr. José Rengel**, advogado responsável pelo escritório **Rengel Advocacia**. Você atende pessoalmente os leads que chegam pelo WhatsApp.\n\nVocê é o advogado do início ao fim. Não existe outro profissional. O atendimento e a análise são feitos por você.\n\n---\n\n## Regras de Formatação\n\nCada resposta sua será composta por **mensagens separadas por uma linha em branco**. Cada bloco separado por linha em branco será enviado como uma mensagem individual no WhatsApp.\n\n- Cada bloco deve ter sentido completo sozinho.\n- NUNCA quebre uma frase no meio entre dois blocos.\n- Mensagens curtas e naturais, como no WhatsApp.\n\n---\n\n## Regras de Comportamento\n\n- Linguagem simples, direta e acessível. Sem juridiquês.\n- Fale sempre em primeira pessoa: \"eu\", \"meu\", \"vou\".\n- NUNCA pergunte qual benefício a pessoa quer ou tem interesse. Você identifica internamente.\n- Envie APENAS UMA pergunta por resposta. Aguarde a resposta antes de enviar a próxima.\n- NÃO use frases de concordância, validação ou comentários entre as perguntas. Nada de \"Certo, fulano\", \"Entendi\", \"Isso é importante para a análise\", \"Ter documentação é fundamental\". Vá direto à próxima pergunta assim que receber a resposta.\n- NÃO use listas, bullets, negrito ou formatação complexa.\n- NÃO dê parecer jurídico. Não diga se a pessoa \"tem direito\" ou \"vai ganhar\".\n\n---\n\n## Controle de Estado da Conversa\n\nAntes de responder QUALQUER mensagem do lead, você DEVE analisar o histórico da conversa para identificar em qual estado o atendimento se encontra. Os estados possíveis são:\n\n**ESTADO 1 — Novo lead:** Nenhuma interação anterior. Nunca recebeu a recepção.\n→ Ação: Iniciar a ETAPA 1 (Recepção).\n\n**ESTADO 2 — Recepção feita, aguardando nome/idade:** Você já enviou a recepção mas o lead ainda não respondeu com nome e idade.\n→ Ação: Aguardar a resposta. Se o lead mandou outra coisa, redirecionar para a pergunta de nome e idade.\n\n**ESTADO 3 — Qualificação em andamento:** O lead já informou nome/idade e você já fez pelo menos uma pergunta de qualificação, mas ainda NÃO completou todas as 5 perguntas.\n→ Ação: Identificar qual foi a ÚLTIMA pergunta respondida pelo lead e enviar a PRÓXIMA pergunta pendente. Não repita perguntas já respondidas. Não recomece do zero.\n\n**ESTADO 4 — Atendimento finalizado:** Todas as 5 perguntas foram respondidas E você já enviou a mensagem de encerramento (\"Muito obrigado pela confiança...\").\n→ Ação: NÃO RESPONDA NADA. Não envie nenhuma mensagem. O pré-atendimento já foi concluído. Qualquer nova mensagem do lead será tratada diretamente pelo advogado. A IA não deve mais interagir.\n\n---\n\n## Fluxo da Conversa\n\n### ETAPA 1 — Recepção\n\nQuando o lead enviar a primeira mensagem (qualquer que seja) e o estado for NOVO LEAD, responda com exatamente estas 3 mensagens:\n\n```\nTudo bem? Sou o Dr José Rengel, responsável pelo escritório Rengel Advocacia.\n\nVou te fazer algumas perguntas para entender melhor a sua situação.\n\nQual seu nome e tem quantos anos?\n```\n\nAguarde a resposta do lead.\n\n---\n\n### ETAPA 2 — Perguntas de Qualificação\n\nApós o lead responder com nome e idade, inicie as perguntas abaixo. Envie UMA por vez. NÃO comente a resposta anterior, vá direto para a próxima pergunta.\n\n**Pergunta 1:**\n```\nVocê possui alguma deficiência ou doença que impeça ou dificulte de trabalhar?\n```\n\n**Pergunta 2:**\n```\nQuantas pessoas moram com você?\n```\n\n**Pergunta 3:**\n```\nDessas pessoas, alguém trabalha ou recebe algum benefício, como aposentadoria, pensão ou auxílio?\n```\n\n**Pergunta 4:**\n```\nQual a renda total da família? Considerando a soma de todos que moram juntos.\n```\n\n**Pergunta 5:**\n```\nVocê já tem cadastro no CadÚnico?\n```\n\nSe o lead retornar após um período de inatividade (minutos, horas ou dias), analise o histórico, identifique a última pergunta que foi RESPONDIDA e envie a próxima pergunta pendente. Não repita perguntas já respondidas. Não reinicie o fluxo. Não faça comentários sobre o tempo que passou.\n\n---\n\n### ETAPA 3 — Encerramento\n\nApós receber a resposta da Pergunta 5, envie exatamente esta mensagem:\n\n```\nMuito obrigado pela confiança e por me passar todas essas informações. Vou analisar o seu caso pessoalmente com bastante atenção. Já lhe passo retorno.\n```\n\nA partir deste momento, o atendimento está FINALIZADO. A IA NÃO deve enviar mais nenhuma mensagem nesta conversa, independentemente do que o lead enviar depois.\n\n---\n\n### ETAPA 4 — Resumo Interno (NÃO enviar ao lead)\n\nApós o encerramento, gere internamente:\n\n```\nRESUMO DO CASO — Rengel Advocacia\nNome: [nome]\nIdade: [idade]\nDeficiência/doença: [resposta pergunta 1]\nPessoas na casa: [resposta pergunta 2]\nAlguém trabalha/recebe benefício: [resposta pergunta 3]\nRenda total da família: [resposta pergunta 4]\nCadastro no CadÚnico: [resposta pergunta 5]\nData/hora: [timestamp]\n```\n\n---\n\n## Situações Especiais\n\nSe o lead perguntar algo fora do fluxo (preço, se tem direito, se é robô, etc.), responda de forma breve e redirecione para a próxima pergunta pendente:\n\n- **Pergunta sobre direito/resultado:** \"Preciso primeiro entender a sua situação completa para te dar um retorno seguro.\"\n- **Pergunta sobre preço:** \"Essa conversa inicial é sem compromisso. A questão dos honorários a gente trata depois da análise.\"\n- **Pergunta se é robô:** \"Aqui é o Dr. José Rengel. Uso esse canal para agilizar o atendimento.\"\n- **Lead foge do assunto:** Redirecione para a próxima pergunta pendente sem comentários extras.\n- **Lead não sabe responder:** Registre \"Não informado\" e siga para a próxima pergunta.\n\nApós a resposta breve, envie a próxima pergunta pendente normalmente.\n\nIMPORTANTE: Nenhuma situação especial se aplica ao ESTADO 4 (atendimento finalizado). Se o atendimento já foi finalizado, NÃO responda nada, nem situações especiais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3648,
        -1392
      ],
      "id": "d29034b4-9f59-4659-a2d3-36783e2ae748",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3568,
        -1088
      ],
      "id": "bcec04d2-0418-4ac5-afe2-b0d84f13c67f",
      "name": "API - IA QUALIFICACAO - ADV",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "remoteJid": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageText": "={{ $json.mensagens }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5024,
        -1296
      ],
      "id": "702a7802-b910-45bb-aa25-fa0612032073",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77f68e2c-5691-4fcb-add7-92b6a511961e",
                    "leftValue": "={{ $('DADOS LEAD').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47d7110e-d98a-40fc-a08d-53731f6b7a19",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3116398d-9519-4d26-a98f-a94cc665837d",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -1360
      ],
      "id": "397d1ee0-8f24-4a73-bf39-e1b6c85b059e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $('DADOS LEAD').item.json.mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        -1536
      ],
      "id": "7cb5575e-3536-47d7-aaab-2189f0303bd4",
      "name": "Armazenar Texto",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem1",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1536,
        -1392
      ],
      "id": "88270b69-54a2-43c2-83b2-af528b020645",
      "name": "Pegar Mensagem ",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const array1 = $('Pegar Mensagem ').first().json.pegarMensagem1 || [];\nconst array2 = $('Pegar Mensagem 1').first().json.pegarMensagem2 || [];\n\nconst textoCombinado1 = array1.join('\\n');\nconst textoCombinado2 = array2.join('\\n');\n\nreturn [\n  {\n    json: {\n      textoCombinado1,\n      textoCombinado2\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -1392
      ],
      "id": "06fd6849-ea76-49d6-9f2d-c85aa128133e",
      "name": "Juntar Mensagens1"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        -1392
      ],
      "id": "a54f929d-72b0-4197-9047-5015297cd45c",
      "name": "Delay",
      "webhookId": "0dc38cd2-ae76-4980-83bf-2714760c2000"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4832,
        -1392
      ],
      "id": "27705fb4-e86d-44a7-8e7d-42c1c88f67b1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4624,
        -1392
      ],
      "id": "2f32b0fa-7115-4f66-82a6-da18e4ead0d5",
      "name": "Split Out",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3984,
        -1392
      ],
      "id": "bcd5f4d7-6e61-4604-8f63-1e5b37e13219",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizeBold(text) {\n  // transforma **negrito** em *negrito*\n  return text.replace(/\\*\\*(.+?)\\*\\*/g, '*$1*');\n}\n\nfunction addBreaksAfterPeriods(text) {\n  // coloca \\n\\n após \".\", \"!\" ou \"?\" quando vier seguido de espaço\n  return text.replace(/([.!?])\\s+/g, '$1\\n\\n');\n}\n\nfunction splitIntoChunks(text, maxLen = 200) {\n  const parts = [];\n  const lines = text\n    .split(/\\n{2,}/) // blocos por parágrafo\n    .map(s => s.trim())\n    .filter(Boolean);\n\n  for (const block of lines) {\n    if (block.length <= maxLen) {\n      parts.push(block);\n      continue;\n    }\n\n    // tenta quebrar por frases\n    const sentences = block.split(/(?<=[.!?])\\s+/);\n    let buf = '';\n\n    for (const s of sentences) {\n      const sentence = s.trim();\n      if (!sentence) continue;\n\n      if ((buf + (buf ? ' ' : '') + sentence).length <= maxLen) {\n        buf += (buf ? ' ' : '') + sentence;\n      } else {\n        if (buf) parts.push(buf.trim());\n        // se a frase sozinha for maior que maxLen, quebra “na marra”\n        if (sentence.length > maxLen) {\n          for (let i = 0; i < sentence.length; i += maxLen) {\n            parts.push(sentence.slice(i, i + maxLen).trim());\n          }\n          buf = '';\n        } else {\n          buf = sentence;\n        }\n      }\n    }\n    if (buf) parts.push(buf.trim());\n  }\n\n  return parts.filter(Boolean);\n}\n\n// ====== INPUT ======\n// ajuste a origem conforme seu fluxo\nconst raw = $json.text ?? $json.output ?? '';\n\n// ====== PROCESS ======\nlet text = String(raw).trim();\ntext = normalizeBold(text);\ntext = addBreaksAfterPeriods(text);\n\nconst mensagens = splitIntoChunks(text, 200);\n\n// ====== OUTPUT (schema igual ao parser) ======\nreturn [{ mensagens }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        -1392
      ],
      "id": "7e1aa1cb-7781-483a-900a-dae0d4561b78",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem2",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        -1392
      ],
      "id": "69efdc9d-7350-4045-bacd-9cb84b6f0cd7",
      "name": "Pegar Mensagem 1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb167783-2de3-4848-b1d0-7fcf22dc83d7",
              "leftValue": "={{ $json.textoCombinado1 }}",
              "rightValue": "={{ $json.textoCombinado2 }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2304,
        -1392
      ],
      "id": "cd39d9c1-3713-419a-8091-d09f23f0d8c5",
      "name": "Verificar Combinação2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3744,
        -1152
      ],
      "id": "ab4c5e0e-3540-42d9-abab-2817e420d48e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5168,
        -1296
      ],
      "id": "943f2f9f-ea9b-4726-a76d-4897b63b00fe",
      "name": "Wait1",
      "webhookId": "117214d5-d0a8-4308-ba77-fb73abd2c564"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7e8838d-de46-4cbd-8fd5-b1d1905cefa9",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        -1360
      ],
      "id": "d900dfc9-255d-44cb-91d9-08710aa6b6be",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "554796585871"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2176,
        -2784
      ],
      "id": "f5dc7d36-4f3d-48f7-b40f-7eacea4d0362",
      "name": "APAGAR MEMÓRIA",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1abb0ac9-511c-4126-a311-bb5d63b02e8d",
              "leftValue": "={{ $('DADOS LEAD').item.json.mensagem.toLowerCase().trim() }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_gatilho }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -1360
      ],
      "id": "7bffcfd8-2325-457a-b4d1-9334e6dac506",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM chat_memory WHERE session_id = '{{ $('DADOS LEAD').item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        -1360
      ],
      "id": "04c6ba2d-9be8-4071-87b0-f9ad49c4b8f2",
      "name": "Tem Conversa em Aberto?",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        -1088
      ],
      "id": "e60c934b-ac1e-418f-85eb-ebd25b8d92c0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5547997094291"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2496,
        -2784
      ],
      "id": "b2368c85-2dc5-4a9d-b906-02c39dedc868",
      "name": "APAGAR MEMÓRIA1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM chat_memory WHERE session_id = '{{ $('DADOS LEAD').item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2928,
        -1392
      ],
      "id": "38e45f6c-4eb6-467a-876e-f7e4ee20be84",
      "name": "Tem Conversa em Aberto?1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        -1392
      ],
      "id": "f0a51e4b-0d60-4ef1-b89d-c7f5900b146a",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "remoteJid": "={{ $('DADOS LEAD').item.json.telefone }}",
        "media": "={{ $('DADOS LEAD').item.json.url_audio }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3424,
        -1600
      ],
      "id": "7684611f-d5f0-4426-91ad-80ad8abf496c",
      "name": "ÁUDIO BOAS VINDAS",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        -1312
      ],
      "id": "58612b9b-2f6f-4953-9f00-65ae427d731e",
      "name": "Armazena Áudio",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva todo o conteúdo da imagem com detalhes. Iniciando a descrição com \"Imagem:\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        -1072
      ],
      "id": "7212dcb7-6824-48bf-9173-1e3c95cc3559",
      "name": "Analizar Imagem",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        -1072
      ],
      "id": "b143cb1b-59b6-48a2-8838-b617e44a5276",
      "name": "Armazena Imagem",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "messageId": "={{ $('DADOS LEAD').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        -1312
      ],
      "id": "a3b3b250-4c76-4845-a316-e0e443e42706",
      "name": "TRANSFORMA URL EM BASE",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -1312
      ],
      "id": "e9e28393-a8f2-4663-bca2-0f1f6f7f37e1",
      "name": "CONVERTE EM ARQUIVO1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5356af18-19e2-43c7-a230-a250eae425cf",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -1312
      ],
      "id": "837cac3c-ed5b-4b47-81e1-9cb05a5cc1f7",
      "name": "RENOMEIA CAMPO3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        752,
        -1312
      ],
      "id": "71a13ac5-d4d4-4751-9b56-bfc43cbc6c0b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "messageId": "={{ $('DADOS LEAD').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        -1072
      ],
      "id": "20723ee2-b202-4df2-8ca3-ae061cfe61b1",
      "name": "TRANSFORMA URL EM BASE2",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "imagem.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -1072
      ],
      "id": "2dda0431-c3da-4557-b6fe-514756a8fd67",
      "name": "CONVERTE EM ARQUIVO2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('DADOS LEAD').item.json.url_planilha }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BE21O93ewshWe8jySlObOnJtCuANHN_vhISVOUIzYLY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('DADOS LEAD').item.json.data }}",
            "Telefone": "={{ $('DADOS LEAD').item.json.telefone }}",
            "Nome": "={{ $('DADOS LEAD').item.json.nome }}",
            "Status": "Atendimento (IA)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        -1600
      ],
      "id": "87a53577-aca6-41d9-9a61-bce94d6ab80b",
      "name": "ADICIONAR NA PLANILHA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oyo37wSpvd55r4lu",
          "name": "Google Sheets Jose"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizarTelefone(input) {\n  if (!input) return null;\n  let numero = String(input).replace(/\\D/g, '');\n  if (numero.startsWith('5555')) {\n    numero = numero.replace(/^555+/, '55');\n  }\n  if (numero.startsWith('55')) {\n    numero = numero.slice(2);\n  }\n  if (numero.length < 10 || numero.length > 11) {\n    return null;\n  }\n  const ddd = numero.slice(0, 2);\n  let telefone = numero.slice(2);\n  if (telefone.length === 8) {\n    telefone = '9' + telefone;\n  }\n  if (!telefone.startsWith('9')) {\n    telefone = '9' + telefone.slice(1);\n  }\n  const telefoneFinal = `55${ddd}${telefone}`;\n  if (telefoneFinal.length !== 13) {\n    return null;\n  }\n  return telefoneFinal;\n}\n\nfunction formatarData(input) {\n  if (!input) return null;\n  const data = new Date(input);\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst telefone = $input.first().json.telefone;\nconst dateTime = $input.first().json.body?.data?.date_time \n  ?? $input.first().json.date_time \n  ?? new Date().toISOString();\n\nreturn {\n  telefone_normalizado: normalizarTelefone(telefone),\n  data_formatada: formatarData(dateTime)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        -1360
      ],
      "id": "fa21e78a-4517-4ab8-9c6f-915249d4538e",
      "name": "FORMATAR TELEFONE E DATA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68b7a49e-be7b-46c3-9042-ccb72808a57c",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_encerramento }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        -1488
      ],
      "id": "7f2c99c7-4c23-4d4f-98e1-66c1769db914",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5248,
        -1472
      ],
      "id": "5ead4ed4-5f10-42a5-a40a-22a2d8645d1b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('DADOS LEAD').item.json.url_planilha }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BE21O93ewshWe8jySlObOnJtCuANHN_vhISVOUIzYLY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('DADOS LEAD').item.json.telefone }}",
            "Status": "Qualificado (Humano)",
            "row_number": 0,
            "Resumo": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5696,
        -1936
      ],
      "id": "ce4cb5f1-02b9-4a78-81f7-3e6cd5031f74",
      "name": "ATUALIZAR PLANILHA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oyo37wSpvd55r4lu",
          "name": "Google Sheets Jose"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere o resumo da conversa.",
        "options": {
          "systemMessage": "=Você é um assistente interno do escritório Rengel Advocacia. Sua ÚNICA função é analisar o histórico da conversa e gerar um resumo estruturado.\n\nAnalise todo o histórico da conversa e extraia as informações abaixo. Retorne APENAS o resumo no formato exato abaixo, sem nenhum texto adicional:\n\nIdade: [idade informada pelo lead]\nDeficiência/doença: [resposta sobre deficiência ou doença]\nPessoas na casa: [quantidade de pessoas que moram com o lead]\nAlguém trabalha/recebe benefício: [resposta sobre trabalho ou benefícios]\nRenda total da família: [valor informado]\nCadastro no CadÚnico: [resposta sobre CadÚnico]\n\nSe alguma informação não foi respondida, coloque \"Não informado\".\nNão invente informações. Use APENAS o que foi dito na conversa.\nNão adicione nenhum texto antes ou depois do resumo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5392,
        -1936
      ],
      "id": "2aef0b72-fdcf-4c76-9096-2e0bdf9bcf25",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5376,
        -1712
      ],
      "id": "9070a39a-9c69-4973-9f93-8a77640cbcbe",
      "name": "API - IA QUALIFICACAO - ADV1",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5488,
        -1712
      ],
      "id": "2d531df4-197d-4eca-9a92-8218ee488516",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5904,
        -1936
      ],
      "id": "78d59b4b-22b4-4563-8695-5d1ebdbd51ff",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e102b36b-5299-4281-acfb-2dc0b52a78e5",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2720,
        -1392
      ],
      "id": "86921f0a-a899-49b4-90ef-8dc541aab617",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2688,
        -1136
      ],
      "id": "0100c9f5-aca9-46d9-bd70-ecf70a74e1a2",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2512,
        -1392
      ],
      "id": "d257574f-bf09-4586-8abe-459db4e10f01",
      "name": "Lock Atômico",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4192,
        -1392
      ],
      "id": "3fe501b8-80ce-4f4b-85d9-0409b5d3fc0d",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "lock:5547997094291"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2336,
        -2960
      ],
      "id": "e8ce29c2-b74c-4074-946c-eb22988ef1f9",
      "name": "APAGAR MEMÓRIA2",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM usuarios WHERE telefone = '{{ $json.telefone }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        -1360
      ],
      "id": "a5c07784-62f3-4ace-9762-02a5e413c0dd",
      "name": "BuscarUsuário",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO usuarios (nome, telefone, cliente)\nVALUES ('{{ $('DADOS LEAD').item.json.nome }}', '{{ $('DADOS LEAD').item.json.telefone }}', '{{ $('DADOS LEAD').item.json.cliente }}')\nON CONFLICT (telefone) DO NOTHING",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1248
      ],
      "id": "fdb69a2d-16b8-45bf-8b5c-b7ad6947c335",
      "name": "CriarUsuario",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.plusstech.com.br",
            "user-agent": "axios/1.13.2",
            "content-length": "1462",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.plusstech.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a3e765f23d1e",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "[José] Automações Internas",
            "data": {
              "key": {
                "remoteJid": "554797094291@s.whatsapp.net",
                "remoteJidAlt": "554797094291@s.whatsapp.net",
                "fromMe": false,
                "id": "3B08BEC44BE296098BA3",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "José Rengel",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "bom dia",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 228,
                      "1": 134,
                      "2": 36,
                      "3": 204,
                      "4": 142,
                      "5": 128,
                      "6": 75,
                      "7": 222,
                      "8": 182,
                      "9": 92
                    },
                    "senderTimestamp": {
                      "low": 1770641799,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 22,
                      "1": 71,
                      "2": 126,
                      "3": 232,
                      "4": 50,
                      "5": 57,
                      "6": 4,
                      "7": 33,
                      "8": 168,
                      "9": 42
                    },
                    "recipientTimestamp": {
                      "low": 1771340588,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 226,
                    "1": 142,
                    "2": 152,
                    "3": 230,
                    "4": 116,
                    "5": 11,
                    "6": 138,
                    "7": 99,
                    "8": 34,
                    "9": 171,
                    "10": 20,
                    "11": 97,
                    "12": 61,
                    "13": 175,
                    "14": 145,
                    "15": 119,
                    "16": 98,
                    "17": 2,
                    "18": 65,
                    "19": 12,
                    "20": 176,
                    "21": 69,
                    "22": 49,
                    "23": 122,
                    "24": 105,
                    "25": 12,
                    "26": 23,
                    "27": 238,
                    "28": 157,
                    "29": 4,
                    "30": 55,
                    "31": 97
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1772190569,
              "instanceId": "a1b1fa05-ff65-4b26-9b73-ce6efd4881d7",
              "source": "unknown"
            },
            "destination": "https://n8n.plusstech.com.br/webhook-test/receber-mensagem-whats",
            "date_time": "2026-02-27T08:09:29.440Z",
            "sender": "554796585871@s.whatsapp.net",
            "server_url": "https://evolutionapi.plusstech.com.br",
            "apikey": "8F7838ADB94D-4AD4-8EE2-6A6329AA6DE8"
          },
          "webhookUrl": "https://n8n.plusstech.com.br/webhook-test/receber-mensagem-whats",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEFONE": {
      "main": [
        [
          {
            "node": "FORMATAR TELEFONE E DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS LEAD": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EIXSTE OU NAO": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Mensagens1": {
      "main": [
        [
          {
            "node": "Verificar Combinação2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Pegar Mensagem 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Armazenar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Texto": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem ": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem 1": {
      "main": [
        [
          {
            "node": "Juntar Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Combinação2": {
      "main": [
        [
          {
            "node": "Lock Atômico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "TELEFONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "BuscarUsuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ADICIONAR NA PLANILHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ÁUDIO BOAS VINDAS": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena Áudio": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagem": {
      "main": [
        [
          {
            "node": "Armazena Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena Imagem": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE": {
      "main": [
        [
          {
            "node": "CONVERTE EM ARQUIVO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE EM ARQUIVO1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA CAMPO3": {
      "main": [
        [
          {
            "node": "Armazena Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "RENOMEIA CAMPO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE2": {
      "main": [
        [
          {
            "node": "CONVERTE EM ARQUIVO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE EM ARQUIVO2": {
      "main": [
        [
          {
            "node": "Analizar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADICIONAR NA PLANILHA": {
      "main": [
        [
          {
            "node": "ÁUDIO BOAS VINDAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATAR TELEFONE E DATA": {
      "main": [
        [
          {
            "node": "DADOS LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "ATUALIZAR PLANILHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZAR PLANILHA": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Atômico": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarUsuário": {
      "main": [
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "4bf50a33-539a-48be-bad0-3ecd1b394d26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804c00b1e5188d906bae124422d170cfebea2fae250a07ce077882d6fad45087"
  },
  "id": "jMSjvpKSqwXXudhZ",
  "tags": []
}