docs/workflow-n8n-modelo.json
{
  "name": "[Rengel Advocacia] IA Qualificação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44d32ad6-0b39-4ac4-9427-0cb78648fa46",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2576,
        -1360
      ],
      "id": "4273dbe7-c196-4583-8905-16ac611f0ddf",
      "name": "Webhook",
      "webhookId": "44d32ad6-0b39-4ac4-9427-0cb78648fa46"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        -1360
      ],
      "id": "b9e28e55-c574-429e-b526-701b9a6391ca",
      "name": "TELEFONE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b370a0c-60cd-470c-9c99-d3816c671e40",
              "name": "cliente",
              "value": "={{ $('BUSCAR CLIENTE').item.json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "81459376-48d9-4507-978d-23b1dd6cd74c",
              "name": "=nome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $('FORMATAR TELEFONE E DATA').item.json.telefone_normalizado }}",
              "type": "string"
            },
            {
              "id": "b45d250b-35cf-44c2-9db7-01acb6809188",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "c0596df2-da8a-4942-84ad-b66bf1fb4fdd",
              "name": "id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "71bb532d-029a-48f4-afae-b6e597fe5a74",
              "name": "data_url",
              "value": "={{ $('Webhook').item.json.body.data.message.mediaUrl ?? $('Webhook').item.json.body.data.message.audioMessage?.url ?? $('Webhook').item.json.body.data.message.imageMessage?.url ?? $('Webhook').item.json.body.data.message.documentMessage?.url }}",
              "type": "string"
            },
            {
              "id": "0df6015c-6763-468a-8b71-cfc72283444f",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "082486a6-e364-457e-a47f-851441421ca9",
              "name": "data",
              "value": "={{ $json.data_formatada }}",
              "type": "string"
            },
            {
              "id": "13b40899-5a38-497e-85f0-9cb5f40dbac6",
              "name": "instancia_wpp",
              "value": "={{ $('BUSCAR CLIENTE').item.json.instancia_wpp }}  ",
              "type": "string"
            },
            {
              "id": "c1344156-c4f5-48f8-a799-dba04c5d2cb4",
              "name": "=url_planilha",
              "value": "={{ $('BUSCAR CLIENTE').item.json.url_planilha }}  ",
              "type": "string"
            },
            {
              "id": "74ef7236-79e9-4cd2-96fa-59caf0360ffc",
              "name": "url_audio",
              "value": "={{ $('BUSCAR CLIENTE').item.json.url_audio }} ",
              "type": "string"
            },
            {
              "id": "1232d60c-3e23-49b4-b18d-da6df3e06985",
              "name": "frase_gatilho",
              "value": "={{ $('BUSCAR CLIENTE').item.json.frase_gatilho }} ",
              "type": "string"
            },
            {
              "id": "e4474c8d-88fe-4ca5-8fe4-56fe239441d3",
              "name": "frase_encerramento",
              "value": "={{ $('BUSCAR CLIENTE').item.json.frase_encerramento }}",
              "type": "string"
            },
            {
              "id": "137190e1-7537-49d9-9417-349ef53bd7fc",
              "name": "nicho",
              "value": "={{ $('BUSCAR CLIENTE').item.json.nicho }}",
              "type": "string"
            },
            {
              "id": "6091415b-fb1b-4920-acc0-f34982c575ce",
              "name": "agente_id",
              "value": "={{ $('BUSCAR CLIENTE').item.json.id }}  ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -1360
      ],
      "id": "ac45f340-553d-432c-b3ff-860ceaaeb2b4",
      "name": "DADOS LEAD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cffdb0c7-dae6-49f6-96c8-8175d5659fa8",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        -1360
      ],
      "id": "be13b8c4-bf32-42cb-83b8-a71f30ec6a07",
      "name": "EIXSTE OU NAO"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Juntar Mensagens1').item.json.textoCombinado2 }}",
        "options": {
          "systemMessage": "={{ $('BUSCAR CLIENTE').item.json.prompt_agente }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3648,
        -1392
      ],
      "id": "fa8c8492-87cd-486d-8e7c-613f2eba7811",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3568,
        -1088
      ],
      "id": "a7a7dee1-9da9-4f17-b98f-b5da8e2259a8",
      "name": "API - IA QUALIFICACAO - ADV",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "remoteJid": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageText": "={{ $json.mensagens }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5024,
        -1296
      ],
      "id": "a18e0a3a-1700-45cd-a59e-b598f1c2df8f",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77f68e2c-5691-4fcb-add7-92b6a511961e",
                    "leftValue": "={{ $('DADOS LEAD').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47d7110e-d98a-40fc-a08d-53731f6b7a19",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3116398d-9519-4d26-a98f-a94cc665837d",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -1360
      ],
      "id": "7bd6821f-a23f-477e-a535-22ae96c4176d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $('DADOS LEAD').item.json.mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        -1536
      ],
      "id": "ea21afdb-eda6-4d7f-830b-dbdf519ce1dc",
      "name": "Armazenar Texto",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem1",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1536,
        -1392
      ],
      "id": "68b8d5e7-b535-4f3e-b6db-a5ebb6e75bb0",
      "name": "Pegar Mensagem ",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const array1 = $('Pegar Mensagem ').first().json.pegarMensagem1 || [];\nconst array2 = $('Pegar Mensagem 1').first().json.pegarMensagem2 || [];\n\nconst textoCombinado1 = array1.join('\\n');\nconst textoCombinado2 = array2.join('\\n');\n\nreturn [\n  {\n    json: {\n      textoCombinado1,\n      textoCombinado2\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -1392
      ],
      "id": "3f47c4ec-fbec-4913-8ea9-2a1138bb3393",
      "name": "Juntar Mensagens1"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        -1392
      ],
      "id": "724ff8de-42b9-4122-af31-2c0cb9f492e9",
      "name": "Delay",
      "webhookId": "df0f3099-cd9c-48ff-8b70-104bfc7d996f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4832,
        -1392
      ],
      "id": "693048e2-cb1e-43f2-896c-5c9985edf5ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4624,
        -1392
      ],
      "id": "9dba036d-6588-40cd-82b2-35f61ed55c8f",
      "name": "Split Out",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3984,
        -1392
      ],
      "id": "08cb5d06-a0ae-4fab-b228-84ed40ba93a3",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizeBold(text) {\n  // transforma **negrito** em *negrito*\n  return text.replace(/\\*\\*(.+?)\\*\\*/g, '*$1*');\n}\n\nfunction addBreaksAfterPeriods(text) {\n  // coloca \\n\\n após \".\", \"!\" ou \"?\" quando vier seguido de espaço\n  return text.replace(/([.!?])\\s+/g, '$1\\n\\n');\n}\n\nfunction splitIntoChunks(text, maxLen = 200) {\n  const parts = [];\n  const lines = text\n    .split(/\\n{2,}/) // blocos por parágrafo\n    .map(s => s.trim())\n    .filter(Boolean);\n\n  for (const block of lines) {\n    if (block.length <= maxLen) {\n      parts.push(block);\n      continue;\n    }\n\n    // tenta quebrar por frases\n    const sentences = block.split(/(?<=[.!?])\\s+/);\n    let buf = '';\n\n    for (const s of sentences) {\n      const sentence = s.trim();\n      if (!sentence) continue;\n\n      if ((buf + (buf ? ' ' : '') + sentence).length <= maxLen) {\n        buf += (buf ? ' ' : '') + sentence;\n      } else {\n        if (buf) parts.push(buf.trim());\n        // se a frase sozinha for maior que maxLen, quebra “na marra”\n        if (sentence.length > maxLen) {\n          for (let i = 0; i < sentence.length; i += maxLen) {\n            parts.push(sentence.slice(i, i + maxLen).trim());\n          }\n          buf = '';\n        } else {\n          buf = sentence;\n        }\n      }\n    }\n    if (buf) parts.push(buf.trim());\n  }\n\n  return parts.filter(Boolean);\n}\n\n// ====== INPUT ======\n// ajuste a origem conforme seu fluxo\nconst raw = $json.text ?? $json.output ?? '';\n\n// ====== PROCESS ======\nlet text = String(raw).trim();\ntext = normalizeBold(text);\ntext = addBreaksAfterPeriods(text);\n\nconst mensagens = splitIntoChunks(text, 200);\n\n// ====== OUTPUT (schema igual ao parser) ======\nreturn [{ mensagens }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        -1392
      ],
      "id": "f14db769-67d5-4f2f-94fc-e862d83abb7d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem2",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        -1392
      ],
      "id": "0bc21a5a-e868-4e69-b62f-2fd2be79e843",
      "name": "Pegar Mensagem 1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb167783-2de3-4848-b1d0-7fcf22dc83d7",
              "leftValue": "={{ $json.textoCombinado1 }}",
              "rightValue": "={{ $json.textoCombinado2 }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2304,
        -1392
      ],
      "id": "6c416b7b-cc07-4c31-a191-5281c928d83f",
      "name": "Verificar Combinação2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3744,
        -1152
      ],
      "id": "be3dcec8-6114-4180-ba1f-965beb0aed52",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5168,
        -1296
      ],
      "id": "31769912-312f-42ca-a6dc-905cdfbfdff9",
      "name": "Wait1",
      "webhookId": "715bf9d8-1bc0-44aa-b949-33c99edf6a75"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7e8838d-de46-4cbd-8fd5-b1d1905cefa9",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2368,
        -1360
      ],
      "id": "b4120c45-5aff-4efb-adc6-8231e88af332",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "554796585871"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2176,
        -2784
      ],
      "id": "dd2f3a67-b2d8-4842-b4ed-100443878d10",
      "name": "APAGAR MEMÓRIA",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1abb0ac9-511c-4126-a311-bb5d63b02e8d",
              "leftValue": "={{ $('DADOS LEAD').item.json.mensagem.toLowerCase().trim() }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_gatilho.toLowerCase().trim() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -1360
      ],
      "id": "5bc655a7-62f6-46f5-8c31-db26897b86ae",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM chat_memory WHERE session_id = '{{ $('DADOS LEAD').item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        -1360
      ],
      "id": "ed61d065-e486-4d97-abe5-d9b758f6a668",
      "name": "Tem Conversa em Aberto?",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        -1088
      ],
      "id": "d799c114-13c1-46ce-a294-8329a9eb0116",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5547997094291"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2496,
        -2784
      ],
      "id": "1988ad4b-7c92-4768-81dc-53af1e1a1867",
      "name": "APAGAR MEMÓRIA1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM chat_memory WHERE session_id = '{{ $('DADOS LEAD').item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2928,
        -1392
      ],
      "id": "c0d25bd8-9aa9-4ccd-9ae7-9da43e9306ba",
      "name": "Tem Conversa em Aberto?1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        -1392
      ],
      "id": "827530fa-85b4-4676-a1af-c9530c411193",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "remoteJid": "={{ $('DADOS LEAD').item.json.telefone }}",
        "media": "={{ $('DADOS LEAD').item.json.url_audio }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3440,
        -1856
      ],
      "id": "27f05881-cdf6-4db7-bcf4-d62068a9c2c6",
      "name": "ÁUDIO BOAS VINDAS",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        -1312
      ],
      "id": "4f50f6cf-4456-4cd6-8fed-29a3a78deed5",
      "name": "Armazena Áudio",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva todo o conteúdo da imagem com detalhes. Iniciando a descrição com \"Imagem:\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        -1072
      ],
      "id": "ca4a1330-7d9d-441b-817e-77f0664320dc",
      "name": "Analizar Imagem",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        -1072
      ],
      "id": "b42db225-f522-4c98-943c-f591c3238610",
      "name": "Armazena Imagem",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "messageId": "={{ $('DADOS LEAD').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        -1312
      ],
      "id": "55304709-8d25-4995-b66a-942f3fb6e87a",
      "name": "TRANSFORMA URL EM BASE",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -1312
      ],
      "id": "02d6f61b-89b1-44ad-91b0-91e8c2c1524c",
      "name": "CONVERTE EM ARQUIVO1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5356af18-19e2-43c7-a230-a250eae425cf",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -1312
      ],
      "id": "df4561a4-c429-4c95-b0d6-5feab63d4f07",
      "name": "RENOMEIA CAMPO3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        752,
        -1312
      ],
      "id": "eea70106-cec4-449a-a310-323ebdcced70",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('DADOS LEAD').item.json.instancia_wpp }}",
        "messageId": "={{ $('DADOS LEAD').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        -1072
      ],
      "id": "99b08610-bc64-4cdd-8743-78f2a7e5f63a",
      "name": "TRANSFORMA URL EM BASE2",
      "credentials": {
        "evolutionApi": {
          "id": "opR0Z29CqbkxtV8p",
          "name": "GeralEvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "imagem.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -1072
      ],
      "id": "6e0d03d4-9dd9-4c28-b1c0-e676c8150e7e",
      "name": "CONVERTE EM ARQUIVO2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('DADOS LEAD').item.json.url_planilha }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BE21O93ewshWe8jySlObOnJtCuANHN_vhISVOUIzYLY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('FORMATAR TELEFONE E DATA').item.json.data_formatada }}",
            "Telefone": "={{ $('DADOS LEAD').item.json.telefone }}",
            "Nome": "={{ $('DADOS LEAD').item.json.nome }}",
            "Status": "Atendimento (IA)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3344,
        -1568
      ],
      "id": "65242091-7433-4465-8fb1-2f252c245b23",
      "name": "ADICIONAR NA PLANILHA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oyo37wSpvd55r4lu",
          "name": "Google Sheets Jose"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizarTelefone(input) {\n  if (!input) return null;\n  let numero = String(input).replace(/\\D/g, '');\n  if (numero.startsWith('5555')) {\n    numero = numero.replace(/^555+/, '55');\n  }\n  if (numero.startsWith('55')) {\n    numero = numero.slice(2);\n  }\n  if (numero.length < 10 || numero.length > 11) {\n    return null;\n  }\n  const ddd = numero.slice(0, 2);\n  let telefone = numero.slice(2);\n  if (telefone.length === 8) {\n    telefone = '9' + telefone;\n  }\n  if (!telefone.startsWith('9')) {\n    telefone = '9' + telefone.slice(1);\n  }\n  const telefoneFinal = `55${ddd}${telefone}`;\n  if (telefoneFinal.length !== 13) {\n    return null;\n  }\n  return telefoneFinal;\n}\n\nfunction formatarData(input) {\n  if (!input) return null;\n  const data = new Date(input);\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst telefone = $input.first().json.telefone;\nconst dateTime = $input.first().json.body?.data?.date_time \n  ?? $input.first().json.date_time \n  ?? new Date().toISOString();\n\nreturn {\n  telefone_normalizado: normalizarTelefone(telefone),\n  data_formatada: formatarData(dateTime)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        -1360
      ],
      "id": "82bc7151-ff38-4b21-a882-3e6e0c73c23c",
      "name": "FORMATAR TELEFONE E DATA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68b7a49e-be7b-46c3-9042-ccb72808a57c",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_encerramento }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        -1488
      ],
      "id": "4e9c70f2-8047-4801-9d1f-53f7cca1c175",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5248,
        -1472
      ],
      "id": "5b68aa50-3bb6-49ba-865f-101560946528",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('DADOS LEAD').item.json.url_planilha }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BE21O93ewshWe8jySlObOnJtCuANHN_vhISVOUIzYLY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('DADOS LEAD').item.json.telefone }}",
            "Status": "Qualificado (Humano)",
            "row_number": 0,
            "Resumo": "={{ $('AI Agent1').item.json.output }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5888,
        -1936
      ],
      "id": "10de6240-c956-4076-88e0-631e96ef9e36",
      "name": "ATUALIZAR PLANILHA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oyo37wSpvd55r4lu",
          "name": "Google Sheets Jose"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere o resumo da conversa.",
        "options": {
          "systemMessage": "={{ $('BUSCAR CLIENTE').item.json.prompt_resumo }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5392,
        -1936
      ],
      "id": "cb7e0edd-f0f2-4799-95b4-0bdf41fe26b0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5376,
        -1712
      ],
      "id": "7cf0e554-d2c9-4816-8482-bf067380b898",
      "name": "API - IA QUALIFICACAO - ADV1",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5488,
        -1712
      ],
      "id": "6966be6d-b44a-4349-9f12-8ee0e1f60878",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6096,
        -1936
      ],
      "id": "d1a49481-f7a5-4f29-82d4-3e8cbb3d4a59",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e102b36b-5299-4281-acfb-2dc0b52a78e5",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2720,
        -1392
      ],
      "id": "7106f203-d9ad-409e-b59e-2fd6fb20d2ec",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2688,
        -1136
      ],
      "id": "2197d7ed-5bea-4411-a3c5-248dbc53cb03",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2512,
        -1392
      ],
      "id": "82918c19-0ac2-478c-b57f-db21188952fe",
      "name": "Lock Atômico",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4192,
        -1392
      ],
      "id": "d9d437d5-b973-469b-9adf-53012426e8de",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "lock:5547997094291"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2336,
        -2960
      ],
      "id": "6a6cfcca-8526-43c6-8db5-2980423d2f06",
      "name": "APAGAR MEMÓRIA2",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT * FROM leads\n  WHERE telefone = '{{ $json.telefone }}'\n  AND agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n  LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        -1376
      ],
      "id": "6df4d17b-f3f4-4dc7-90ac-43713c643214",
      "name": "BuscarUsuário",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO leads (cliente_id, agente_id, etapa_id, telefone, nome, nicho, status)\n  VALUES (\n    '{{ $('BUSCAR CLIENTE').item.json.cliente_id }}',\n    '{{ $('BUSCAR CLIENTE').item.json.id }}',\n    (SELECT id FROM etapas_funil\n     WHERE agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n     ORDER BY ordem ASC LIMIT 1),\n    '{{ $('DADOS LEAD').item.json.telefone }}',\n    '{{ $('DADOS LEAD').item.json.nome }}',\n    '{{ $('BUSCAR CLIENTE').item.json.nicho }}',\n    'Atendimento (IA)'\n  )\n  ON CONFLICT (agente_id, telefone) DO UPDATE SET\n    nome = EXCLUDED.nome",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1248
      ],
      "id": "f554b281-5ad1-4da4-90f3-1408dc826ae4",
      "name": "CriarUsuario",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT a.*,\n    (SELECT json_agg(p ORDER BY p.ordem)                                                                                                                                                                          \n     FROM perguntas_qualificacao p                                                                                                                                                                                \n     WHERE p.agente_id = a.id AND p.ativa = true) as perguntas                                                                                                                                                    \n  FROM agentes a\n  WHERE a.instancia_wpp = '{{ $('Webhook').item.json.body.instance }}'\n  AND a.ativo = true\n  AND a.ia_ativa = true\n  LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        -1360
      ],
      "id": "2d2b6838-b71d-45f0-b633-1a5fb25a3ec3",
      "name": "BUSCAR CLIENTE",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  UPDATE leads SET\n    resumo = '{{ $json.output }}',\n    status = 'Qualificado',\n    etapa_id = (\n      SELECT id FROM etapas_funil\n      WHERE agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n      ORDER BY ordem ASC\n      OFFSET 1 LIMIT 1\n    )\n  WHERE telefone = '{{ $('DADOS LEAD').item.json.telefone }}'\n  AND agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5712,
        -1936
      ],
      "id": "3fc539ae-bb33-4f59-97b1-6be492ddf36e",
      "name": "SALVAR RESUMO",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.plusstech.com.br",
            "user-agent": "axios/1.13.2",
            "content-length": "1462",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.plusstech.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a3e765f23d1e",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "[José] Automações Internas",
            "data": {
              "key": {
                "remoteJid": "554797094291@s.whatsapp.net",
                "remoteJidAlt": "554797094291@s.whatsapp.net",
                "fromMe": false,
                "id": "3B08BEC44BE296098BA3",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "José Rengel",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "bom dia",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 228,
                      "1": 134,
                      "2": 36,
                      "3": 204,
                      "4": 142,
                      "5": 128,
                      "6": 75,
                      "7": 222,
                      "8": 182,
                      "9": 92
                    },
                    "senderTimestamp": {
                      "low": 1770641799,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 22,
                      "1": 71,
                      "2": 126,
                      "3": 232,
                      "4": 50,
                      "5": 57,
                      "6": 4,
                      "7": 33,
                      "8": 168,
                      "9": 42
                    },
                    "recipientTimestamp": {
                      "low": 1771340588,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 226,
                    "1": 142,
                    "2": 152,
                    "3": 230,
                    "4": 116,
                    "5": 11,
                    "6": 138,
                    "7": 99,
                    "8": 34,
                    "9": 171,
                    "10": 20,
                    "11": 97,
                    "12": 61,
                    "13": 175,
                    "14": 145,
                    "15": 119,
                    "16": 98,
                    "17": 2,
                    "18": 65,
                    "19": 12,
                    "20": 176,
                    "21": 69,
                    "22": 49,
                    "23": 122,
                    "24": 105,
                    "25": 12,
                    "26": 23,
                    "27": 238,
                    "28": 157,
                    "29": 4,
                    "30": 55,
                    "31": 97
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1772190569,
              "instanceId": "a1b1fa05-ff65-4b26-9b73-ce6efd4881d7",
              "source": "unknown"
            },
            "destination": "https://n8n.plusstech.com.br/webhook-test/receber-mensagem-whats",
            "date_time": "2026-02-27T08:09:29.440Z",
            "sender": "554796585871@s.whatsapp.net",
            "server_url": "https://evolutionapi.plusstech.com.br",
            "apikey": "8F7838ADB94D-4AD4-8EE2-6A6329AA6DE8"
          },
          "webhookUrl": "https://n8n.plusstech.com.br/webhook-test/receber-mensagem-whats",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEFONE": {
      "main": [
        [
          {
            "node": "FORMATAR TELEFONE E DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS LEAD": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EIXSTE OU NAO": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Mensagens1": {
      "main": [
        [
          {
            "node": "Verificar Combinação2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Pegar Mensagem 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Armazenar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Texto": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem ": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem 1": {
      "main": [
        [
          {
            "node": "Juntar Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Combinação2": {
      "main": [
        [
          {
            "node": "Lock Atômico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "TELEFONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "BuscarUsuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ADICIONAR NA PLANILHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ÁUDIO BOAS VINDAS": {
      "main": [
        []
      ]
    },
    "Armazena Áudio": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagem": {
      "main": [
        [
          {
            "node": "Armazena Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena Imagem": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE": {
      "main": [
        [
          {
            "node": "CONVERTE EM ARQUIVO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE EM ARQUIVO1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA CAMPO3": {
      "main": [
        [
          {
            "node": "Armazena Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "RENOMEIA CAMPO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE2": {
      "main": [
        [
          {
            "node": "CONVERTE EM ARQUIVO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERTE EM ARQUIVO2": {
      "main": [
        [
          {
            "node": "Analizar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADICIONAR NA PLANILHA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATAR TELEFONE E DATA": {
      "main": [
        [
          {
            "node": "BUSCAR CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "SALVAR RESUMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZAR PLANILHA": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Atômico": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarUsuário": {
      "main": [
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR CLIENTE": {
      "main": [
        [
          {
            "node": "DADOS LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SALVAR RESUMO": {
      "main": [
        [
          {
            "node": "ATUALIZAR PLANILHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "974e549d-3c91-4b3a-830a-ab243f8f04f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804c00b1e5188d906bae124422d170cfebea2fae250a07ce077882d6fad45087"
  },
  "id": "9Pkht5y46OzaGJc9",
  "tags": []
}