docs/workflow-n8n-modelo.json
{
  "name": "[Coelho Advocacia - Previdenciário] IA Triagem",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4ab0c507-e1ae-41a4-9875-b7fe7b4a4c1e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2896,
        -1360
      ],
      "id": "d7c5d307-c8ce-42e5-a811-d8e51e751cf8",
      "name": "Webhook",
      "webhookId": "4ab0c507-e1ae-41a4-9875-b7fe7b4a4c1e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $('Webhook').item.json.body.message.sender_pn }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        -1360
      ],
      "id": "3e81689b-6907-4bed-bbe7-b7072789987f",
      "name": "TELEFONE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b370a0c-60cd-470c-9c99-d3816c671e40",
              "name": "cliente",
              "value": "={{ $('BUSCAR CLIENTE').item.json.cliente_id }}",
              "type": "string"
            },
            {
              "id": "81459376-48d9-4507-978d-23b1dd6cd74c",
              "name": "=nome",
              "value": "={{ $('Webhook').item.json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "9f40523e-a2c8-43af-86e1-f8829550d374",
              "name": "telefone",
              "value": "={{ $('FORMATAR TELEFONE E DATA').item.json.telefone_normalizado }}",
              "type": "string"
            },
            {
              "id": "b45d250b-35cf-44c2-9db7-01acb6809188",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "c0596df2-da8a-4942-84ad-b66bf1fb4fdd",
              "name": "id",
              "value": "={{ $('Webhook').item.json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "71bb532d-029a-48f4-afae-b6e597fe5a74",
              "name": "data_url",
              "value": "={{ $('Webhook').item.json.body.media_url_decrypted || $('Webhook').item.json.body.message.content.URL }}",
              "type": "string"
            },
            {
              "id": "0df6015c-6763-468a-8b71-cfc72283444f",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.message.mediaType || $('Webhook').item.json.body.message.type }}",
              "type": "string"
            },
            {
              "id": "082486a6-e364-457e-a47f-851441421ca9",
              "name": "data",
              "value": "={{ $json.data_formatada }}",
              "type": "string"
            },
            {
              "id": "13b40899-5a38-497e-85f0-9cb5f40dbac6",
              "name": "instancia_wpp",
              "value": "={{ $('BUSCAR CLIENTE').item.json.instancia_wpp }}",
              "type": "string"
            },
            {
              "id": "c1344156-c4f5-48f8-a799-dba04c5d2cb4",
              "name": "=url_planilha",
              "value": "={{ $('BUSCAR CLIENTE').item.json.url_planilha }}",
              "type": "string"
            },
            {
              "id": "74ef7236-79e9-4cd2-96fa-59caf0360ffc",
              "name": "url_audio",
              "value": "={{ $('BUSCAR CLIENTE').item.json.url_audio }}",
              "type": "string"
            },
            {
              "id": "1232d60c-3e23-49b4-b18d-da6df3e06985",
              "name": "frase_gatilho",
              "value": "={{ $('BUSCAR CLIENTE').item.json.frase_gatilho }}",
              "type": "string"
            },
            {
              "id": "e4474c8d-88fe-4ca5-8fe4-56fe239441d3",
              "name": "frase_encerramento",
              "value": "={{ $('BUSCAR CLIENTE').item.json.frase_encerramento }}",
              "type": "string"
            },
            {
              "id": "137190e1-7537-49d9-9417-349ef53bd7fc",
              "name": "nicho",
              "value": "={{ $('BUSCAR CLIENTE').item.json.nicho }}",
              "type": "string"
            },
            {
              "id": "6091415b-fb1b-4920-acc0-f34982c575ce",
              "name": "agente_id",
              "value": "={{ $('BUSCAR CLIENTE').item.json.id }}",
              "type": "string"
            },
            {
              "id": "9a26ba38-57f4-47b1-b0aa-9eb339cc5d88",
              "name": "uazapi_token",
              "value": "={{ $('BUSCAR CLIENTE').item.json.uazapi_token }}",
              "type": "string"
            },
            {
              "id": "8bc9ec2c-fe12-44bb-bf96-6516e0135fe0",
              "name": "ia_ativa",
              "value": "={{ $('BUSCAR CLIENTE').item.json.ia_ativa }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -1360
      ],
      "id": "b72d72bb-a9e8-416f-8cc4-5425f1d241c3",
      "name": "DADOS LEAD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cffdb0c7-dae6-49f6-96c8-8175d5659fa8",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        -1360
      ],
      "id": "d725baeb-a037-49b6-842e-e7a33d71d7f9",
      "name": "EIXSTE OU NAO"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Juntar Mensagens1').item.json.textoCombinado2 }}",
        "options": {
          "systemMessage": "={{ $('MONTAR PROMPT').item.json.prompt_montado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3840,
        -1408
      ],
      "id": "5924cd0c-4db7-4bc3-a953-1bd5d4920a26",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3776,
        -1168
      ],
      "id": "6a7c8051-568d-42f7-a914-9a8220126794",
      "name": "API - IA QUALIFICACAO - ADV",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77f68e2c-5691-4fcb-add7-92b6a511961e",
                    "leftValue": "={{ $('DADOS LEAD').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47d7110e-d98a-40fc-a08d-53731f6b7a19",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "47d7110e-d98a-40fc-a08d-53731f6b7a20",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3116398d-9519-4d26-a98f-a94cc665837d",
                    "leftValue": "={{ $('DADOS LEAD').item.json.messageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -1360
      ],
      "id": "aca7c251-104d-4f61-b5d7-50448bcf1bf8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $('DADOS LEAD').item.json.mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        528,
        -1520
      ],
      "id": "6ebfc71f-dd6e-47db-975e-dff3e281eae3",
      "name": "Armazenar Texto",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem1",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1536,
        -1392
      ],
      "id": "cb76fe4c-b5cd-4797-aa19-7dcf5f094f13",
      "name": "Pegar Mensagem ",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const array1 = $('Pegar Mensagem ').first().json.pegarMensagem1 || [];\nconst array2 = $('Pegar Mensagem 1').first().json.pegarMensagem2 || [];\n\nconst textoCombinado1 = array1.join('\\n');\nconst textoCombinado2 = array2.join('\\n');\n\nreturn [\n  {\n    json: {\n      textoCombinado1,\n      textoCombinado2\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -1392
      ],
      "id": "15494845-d354-4c4d-b88d-c55993c6a561",
      "name": "Juntar Mensagens1"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        -1392
      ],
      "id": "c6a10b10-5496-4990-adc5-d03285d5d7be",
      "name": "Delay",
      "webhookId": "eaa5f433-6c42-402d-a29d-213578ace4d0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5024,
        -1408
      ],
      "id": "da8733d4-62bd-41bb-a7ea-59e1620ed7d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4816,
        -1408
      ],
      "id": "b4b6fb9f-afb3-458e-af42-9ae286eb3f50",
      "name": "Split Out",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4352,
        -1408
      ],
      "id": "a543212e-caed-4033-b9d9-9b3b86bf50d7",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizeBold(text) {\n  // transforma **negrito** em *negrito*\n  return text.replace(/\\*\\*(.+?)\\*\\*/g, '*$1*');\n}\n\nfunction addBreaksAfterPeriods(text) {\n  // coloca \\n\\n após \".\", \"!\" ou \"?\" quando vier seguido de espaço\n  return text.replace(/([.!?])\\s+/g, '$1\\n\\n');\n}\n\nfunction splitIntoChunks(text, maxLen = 200) {\n  const parts = [];\n  const lines = text\n    .split(/\\n{2,}/) // blocos por parágrafo\n    .map(s => s.trim())\n    .filter(Boolean);\n\n  for (const block of lines) {\n    if (block.length <= maxLen) {\n      parts.push(block);\n      continue;\n    }\n\n    // tenta quebrar por frases\n    const sentences = block.split(/(?<=[.!?])\\s+/);\n    let buf = '';\n\n    for (const s of sentences) {\n      const sentence = s.trim();\n      if (!sentence) continue;\n\n      if ((buf + (buf ? ' ' : '') + sentence).length <= maxLen) {\n        buf += (buf ? ' ' : '') + sentence;\n      } else {\n        if (buf) parts.push(buf.trim());\n        // se a frase sozinha for maior que maxLen, quebra “na marra”\n        if (sentence.length > maxLen) {\n          for (let i = 0; i < sentence.length; i += maxLen) {\n            parts.push(sentence.slice(i, i + maxLen).trim());\n          }\n          buf = '';\n        } else {\n          buf = sentence;\n        }\n      }\n    }\n    if (buf) parts.push(buf.trim());\n  }\n\n  return parts.filter(Boolean);\n}\n\n// ====== INPUT ======\n// ajuste a origem conforme seu fluxo\nconst raw = $json.text ?? $json.output ?? '';\n\n// ====== PROCESS ======\nlet text = String(raw).trim();\ntext = normalizeBold(text);\ntext = addBreaksAfterPeriods(text);\n\nconst mensagens = splitIntoChunks(text, 200);\n\n// ====== OUTPUT (schema igual ao parser) ======\nreturn [{ mensagens }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        -1408
      ],
      "id": "48a9a603-51ae-42d3-8ce7-106151f4dc09",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "pegarMensagem2",
        "key": "={{ $('DADOS LEAD').item.json.telefone }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        -1392
      ],
      "id": "365890d4-42ae-49da-8505-6c8f3a4b621a",
      "name": "Pegar Mensagem 1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb167783-2de3-4848-b1d0-7fcf22dc83d7",
              "leftValue": "={{ $json.textoCombinado1 }}",
              "rightValue": "={{ $json.textoCombinado2 }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2304,
        -1392
      ],
      "id": "09ee2871-eb70-4af8-84e6-17ec0c4d0ad9",
      "name": "Verificar Combinação2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.agente_id }}:{{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3936,
        -1168
      ],
      "id": "86783e42-c144-4856-b102-7df9a784ea04",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5360,
        -1312
      ],
      "id": "b66ce353-7932-4605-813d-ed1b1cfaf4d4",
      "name": "Wait1",
      "webhookId": "8b55b740-7adf-4f40-b1e4-e37fd5b5a32a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7e8838d-de46-4cbd-8fd5-b1d1905cefa9",
              "leftValue": "={{ $json.body.message.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2688,
        -1360
      ],
      "id": "ba2a102e-7304-42ef-ab75-6dee0b504aa8",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1abb0ac9-511c-4126-a311-bb5d63b02e8d",
              "leftValue": "={{ $('DADOS LEAD').item.json.mensagem.toLowerCase().trim() }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_gatilho.toLowerCase().trim() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -1360
      ],
      "id": "f4e61bcf-1578-4e52-957d-8fcc16191e6c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT COUNT(*) as total FROM chat_memory\n  WHERE session_id = '{{ $(\"DADOS LEAD\").item.json.agente_id }}:{{ $(\"DADOS LEAD\").item.json.telefone }}'\n  OR session_id = '{{ $(\"DADOS LEAD\").item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        -1360
      ],
      "id": "e5321999-0f06-45f3-90c5-05bbca871b31",
      "name": "Tem Conversa em Aberto?",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        -1088
      ],
      "id": "e304afdc-7369-4ad6-9a34-b3fcf3797e0e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT COUNT(*) as total FROM chat_memory\n  WHERE session_id = '{{ $(\"DADOS LEAD\").item.json.agente_id }}:{{ $(\"DADOS LEAD\").item.json.telefone }}'\n  OR session_id = '{{ $(\"DADOS LEAD\").item.json.telefone }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        -1408
      ],
      "id": "72261e52-336e-45ee-a5f1-c0fee72b812d",
      "name": "Tem Conversa em Aberto?1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3232,
        -1408
      ],
      "id": "527e0302-874e-4057-ac51-7c246c238cdd",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        -1312
      ],
      "id": "e09f3ad6-9cfb-4588-bc80-c2df0b70c363",
      "name": "Armazena Áudio",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva todo o conteúdo da imagem com detalhes. Iniciando a descrição com \"Imagem:\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        -1072
      ],
      "id": "b185586a-87cc-4c51-b8b6-edf132885c4e",
      "name": "Analizar Imagem",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('DADOS LEAD').item.json.telefone }}",
        "messageData": "={{ $json.content }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        -1072
      ],
      "id": "beebeb04-0678-4476-b309-226bc2406436",
      "name": "Armazena Imagem",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5356af18-19e2-43c7-a230-a250eae425cf",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -1312
      ],
      "id": "16111a4f-b2a6-49fa-a80f-c0dc8bf44a61",
      "name": "RENOMEIA CAMPO3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        752,
        -1312
      ],
      "id": "397732f7-187a-4e98-b7a8-6c1edcda2b42",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "IFueAmHAMWXP64vg",
          "name": "OpenAi M7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizarTelefone(input) {\n  if (!input) return null;\n  let numero = String(input).replace(/\\D/g, '');\n  if (numero.startsWith('5555')) {\n    numero = numero.replace(/^555+/, '55');\n  }\n  if (numero.startsWith('55')) {\n    numero = numero.slice(2);\n  }\n  if (numero.length < 10 || numero.length > 11) {\n    return null;\n  }\n  const ddd = numero.slice(0, 2);\n  let telefone = numero.slice(2);\n  if (telefone.length === 8) {\n    telefone = '9' + telefone;\n  }\n  if (!telefone.startsWith('9')) {\n    telefone = '9' + telefone.slice(1);\n  }\n  const telefoneFinal = `55${ddd}${telefone}`;\n  if (telefoneFinal.length !== 13) {\n    return null;\n  }\n  return telefoneFinal;\n}\n\nfunction formatarData(input) {\n  if (!input) return null;\n  const data = new Date(input);\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0');\n  const ano = data.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst telefone = $('Webhook').item.json.body.message.sender_pn;\nconst ts = $input.first().json.body?.message?.messageTimestamp;\nconst dateTime = ts ? new Date(ts).toISOString() : new Date().toISOString();\n\nreturn {\n  telefone_normalizado: normalizarTelefone(telefone),\n  data_formatada: formatarData(dateTime)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        -1360
      ],
      "id": "37584c0f-f302-4a24-bb46-e73edc7965e3",
      "name": "FORMATAR TELEFONE E DATA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68b7a49e-be7b-46c3-9042-ccb72808a57c",
              "leftValue": "={{ $json.is_encerramento }}",
              "rightValue": "={{ $('DADOS LEAD').item.json.frase_encerramento }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        -1728
      ],
      "id": "fcfe9400-06a3-43c0-9d5c-2a9b4d18b2b6",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5440,
        -1488
      ],
      "id": "c490ffc7-dd0c-421f-b34d-898ef1a3da72",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere o resumo da conversa.",
        "options": {
          "systemMessage": "={{ $('MONTAR PROMPT').item.json.prompt_resumo_montado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4672,
        -2016
      ],
      "id": "f05ef6b3-7084-42ee-a850-bf2bdb18ee4e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4656,
        -1792
      ],
      "id": "aa23b143-dad1-44e1-985e-21d764e8de91",
      "name": "API - IA QUALIFICACAO - ADV1",
      "credentials": {
        "googlePalmApi": {
          "id": "GaqnIWU5B9fHTxtp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DADOS LEAD').item.json.agente_id }}:{{ $('DADOS LEAD').item.json.telefone }}",
        "tableName": "chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4768,
        -1792
      ],
      "id": "88b5a395-bd06-4f08-83ca-37cad06b4c9d",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5200,
        -2016
      ],
      "id": "a8d6d160-fb0e-4d10-9bfe-5e0221a33c77",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e102b36b-5299-4281-acfb-2dc0b52a78e5",
              "leftValue": "={{ Object.values($json)[0] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2880,
        -1408
      ],
      "id": "a63c3248-822d-4c8b-a281-76d0c5b04175",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3040,
        -1072
      ],
      "id": "9f30ea9c-9a2a-419f-b9b5-6076e6575997",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}",
        "expire": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2512,
        -1392
      ],
      "id": "696d3efe-b177-4fa9-8603-42142191b201",
      "name": "Lock Atômico",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=lock:{{ $('DADOS LEAD').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4480,
        -1408
      ],
      "id": "3d83f0d3-4b7f-4a38-94a8-db10f28e4a65",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "dlNS4lQvlujqlmMB",
          "name": "Redis José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT * FROM leads\n  WHERE telefone = '{{ $json.telefone }}'\n  AND agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n  LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        -1376
      ],
      "id": "740c4af1-fba5-451a-abce-0817b3a7aa57",
      "name": "BuscarUsuário",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO leads (cliente_id, agente_id, etapa_id, telefone, nome, nicho, status)\n  VALUES (\n    '{{ $('BUSCAR CLIENTE').item.json.cliente_id }}',\n    '{{ $('BUSCAR CLIENTE').item.json.id }}',\n    (SELECT id FROM etapas_funil\n     WHERE agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n     ORDER BY ordem ASC LIMIT 1),\n    '{{ $('DADOS LEAD').item.json.telefone }}',\n    '{{ $('DADOS LEAD').item.json.nome }}',\n    '{{ $('BUSCAR CLIENTE').item.json.nicho }}',\n    'Atendimento (IA)'\n  )\n  ON CONFLICT (agente_id, telefone) DO UPDATE SET\n    nome = EXCLUDED.nome",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1248
      ],
      "id": "1451a65a-6d09-4800-a8a0-b4cad9271b8c",
      "name": "CriarUsuario",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT a.*,                                                                                                                                                                                                        \n    c.nome_cliente,                                         \n    (SELECT json_agg(p ORDER BY p.ordem)\n     FROM perguntas_qualificacao p\n     WHERE p.agente_id = a.id AND p.ativa = true) as perguntas,\n    (SELECT STRING_AGG('Pergunta ' || p.ordem || ':' || E'\\n' || p.pergunta, E'\\n\\n' ORDER BY p.ordem)\n     FROM perguntas_qualificacao p\n     WHERE p.agente_id = a.id AND p.ativa = true) as perguntas_texto,\n    (SELECT COUNT(*)::int\n     FROM perguntas_qualificacao p\n     WHERE p.agente_id = a.id AND p.ativa = true) as num_perguntas\n  FROM agentes a\n  JOIN clientes c ON c.id = a.cliente_id\nWHERE a.id = '{{ $('Webhook').item.json.body.agente_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2032,
        -1360
      ],
      "id": "db23bb7f-a0ba-414b-9e59-7002f4bd8321",
      "name": "BUSCAR CLIENTE",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  UPDATE leads SET\n    resumo = '{{ $json.output }}',\n    status = 'Qualificado',\n    etapa_id = (\n      SELECT id FROM etapas_funil\n      WHERE agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'\n      ORDER BY ordem ASC\n      OFFSET 1 LIMIT 1\n    )\n  WHERE telefone = '{{ $('DADOS LEAD').item.json.telefone }}'\n  AND agente_id = '{{ $('BUSCAR CLIENTE').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4992,
        -2016
      ],
      "id": "c2ead595-dc20-47a9-94da-5fa4ded925a6",
      "name": "SALVAR RESUMO",
      "credentials": {
        "postgres": {
          "id": "toWNygO6lUq2z27A",
          "name": "Postgres José"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const dados = $('BUSCAR CLIENTE').item.json;\n\n  const saudacao = dados.frase_saudacao || '';\n  const encerramento = dados.frase_encerramento || '';\n  const perguntas = dados.perguntas_texto || '';\n  const nomeEscritorio = dados.nome_cliente || '';\n  const numPerguntas = String(dados.num_perguntas || 0);\n\n  function substituir(template) {\n    return (template || '')\n      .replace(/\\{\\{SAUDACAO\\}\\}/g, saudacao)\n      .replace(/\\{\\{PERGUNTAS\\}\\}/g, perguntas)\n      .replace(/\\{\\{ENCERRAMENTO\\}\\}/g, encerramento)\n      .replace(/\\{\\{NOME_ESCRITORIO\\}\\}/g, nomeEscritorio)\n      .replace(/\\{\\{NUM_PERGUNTAS\\}\\}/g, numPerguntas);\n  }\n\n  return [{ json: {\n    ...dados,\n    prompt_montado: substituir(dados.prompt_agente),\n    prompt_resumo_montado: substituir(dados.prompt_resumo)\n  }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -1360
      ],
      "id": "0e5b73c4-b733-48d0-8d14-756106f943ea",
      "name": "MONTAR PROMPT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://grupoadv.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('DADOS LEAD').item.json.uazapi_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({number: $('DADOS LEAD').item.json.telefone, text: $json.mensagens}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5200,
        -1312
      ],
      "id": "c98c0c87-e543-4697-81a8-45fb922d80cc",
      "name": "Enviar Texto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://grupoadv.uazapi.com/send/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('DADOS LEAD').item.json.uazapi_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({number: $('DADOS LEAD').item.json.telefone, file: $('DADOS LEAD').item.json.url_audio, type: \"ptt\"}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        -1616
      ],
      "id": "dcecda1b-5589-4a8d-b9e6-d60b36769f01",
      "name": "ÁUDIO BOAS VINDAS"
    },
    {
      "parameters": {
        "url": "={{ $('DADOS LEAD').item.json.data_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -1312
      ],
      "id": "f85a0e79-042a-4d95-ace5-895ecbf3f6c0",
      "name": "TRANSFORMA URL EM BASE"
    },
    {
      "parameters": {
        "url": "={{ $('DADOS LEAD').item.json.data_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -1088
      ],
      "id": "56a30c27-34a2-4364-814f-818b50dc8ff5",
      "name": "TRANSFORMA URL EM BASE2"
    },
    {
      "parameters": {
        "jsCode": "  const output = $json.output || '';\n  const frase = $('DADOS LEAD').item.json.frase_encerramento || '';\n\n  return [{\n    json: {\n      ...$json,\n      ai_output: output,\n      is_encerramento: output.toLowerCase().trim().includes(frase.toLowerCase().trim())\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        -1408
      ],
      "id": "1e5bdcd5-1370-4431-9bc7-381a559c7502",
      "name": "CAPTURAR OUTPUT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e102b36b-5299-4281-acfb-2dc0b52a78e5",
              "leftValue": "={{ $('DADOS LEAD').item.json.ia_ativa }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2704,
        -1392
      ],
      "id": "7cf39b94-73ff-48b1-8646-12458c5c8029",
      "name": "IA Ativa?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0da1fac7-3360-4fa6-bf19-17d7ff320b0c",
              "leftValue": "={{ $('DADOS LEAD').item.json.url_audio }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        -1600
      ],
      "id": "9ef69f17-0759-422a-842f-0fb02d8687a4",
      "name": "Tem Áudio?"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.plusstech.com.br",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "6308",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "49.12.82.97",
            "x-forwarded-host": "n8n.plusstech.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a3e765f23d1e",
            "x-real-ip": "49.12.82.97"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://grupoadv.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "rdb4af8b3ed9298",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/533817803_1230917132307474_5640251526208502492_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa4AFkXi555sqpjM5kDsb_ugkjLfM-skgGpoLTnu8qod32ww&oe=69BAE385&_nc_sid=5e03e0&_nc_cat=103",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "José Rengel",
              "owner": "554789278622",
              "phone": "+55 47 8488-5120",
              "wa_archived": false,
              "wa_chatid": "554784885120@s.whatsapp.net",
              "wa_chatlid": "248327123804222@lid",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "554789278622:554784885120",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "248327123804222@lid",
              "wa_lastMessageTextVote": "",
              "wa_lastMessageType": "ImageMessage",
              "wa_lastMsgTimestamp": 1773750516000,
              "wa_muteEndTime": 0,
              "wa_name": "José Rengel",
              "wa_unreadCount": 3
            },
            "chatSource": "updated",
            "instanceName": "ia-previdenci-rio-506f87",
            "message": {
              "buttonOrListid": "",
              "chatid": "554784885120@s.whatsapp.net",
              "chatlid": "248327123804222@lid",
              "content": {
                "URL": "https://mmg.whatsapp.net/o1/v/t24/f2/m233/AQNYplLVaUP8yN9Xp4RJtpBGhO61_W0T6aXKQwno_VV0YpAQuWuYPE0SsuLYX6NxI1Td_f3dgk2nnkHogL_i6-0HegSaM6RkS0E4lOnXNQ?ccb=9-4&oh=01_Q5Aa4AFbJlyCxNsWkBcnMD2DpqhpraC3nw4KPKRRpZ-1M5GX1g&oe=69E0B811&_nc_sid=e6ed6c&mms3=true",
                "mimetype": "image/jpeg",
                "fileSHA256": "iQ1GPd0faAEZAYyx08VReexE6NDGbSqphox5lTCIllg=",
                "fileLength": 59173,
                "height": 520,
                "width": 1326,
                "mediaKey": "vBDEy18j5+15i0BDld8gXDZQF2rzuDf/2l11r84iIHQ=",
                "fileEncSHA256": "qTanVlGgQvQzUoMZqoyjPsrBJ0qgMDL8hT149odyIcg=",
                "directPath": "/o1/v/t24/f2/m233/AQNYplLVaUP8yN9Xp4RJtpBGhO61_W0T6aXKQwno_VV0YpAQuWuYPE0SsuLYX6NxI1Td_f3dgk2nnkHogL_i6-0HegSaM6RkS0E4lOnXNQ?ccb=9-4&oh=01_Q5Aa4AFbJlyCxNsWkBcnMD2DpqhpraC3nw4KPKRRpZ-1M5GX1g&oe=69E0B811&_nc_sid=e6ed6c",
                "mediaKeyTimestamp": 1773750515,
                "JPEGThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/2wBDAQMDAwQDBAgEBAgQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBD/wAARCAAnAGQDASIAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAQGAwUHAgn/xAAuEAACAgEEAgIBAgQHAAAAAAABAgMEBQAGERIHExQhIyIxCBUkQhYXMmFyc4H/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAIhEAAgICAQMFAAAAAAAAAAAAAAECAxESEzFhcTIzUaHB/9oADAMBAAIRAxEAPwD6p6pm9N27/wAJlqOO2d4nu7lrvJVkvX2y9OlBDXksCKYQh3MstmJD7/W0ccTxq4E/sCxNYL169Behr16zPG5Pd+QAg45H0fs8ngfX+/8A7Wd6ZvfFLN/C2vex0NaOk9y0be2sjdMES17o9kUldxHZlNn4H9IDHJ6kscMzSxdAJVvO+Ta2bgpw+PcTaxdiV4Tdh3CRJAfa5WWWF66/iNdUJMbPIJ5BF6zEGtDLLlPJpe8lTZW3iIHlWq1jcU0YsgLZMTHrTcoGK0VbkEqZrXAcV4ja8Y7K7lzuVlmxeYrQY0wmxHXvbVvV51SRfXEDLLMisyzQ2HdBGG9ckIITlZZd9mFzhxNgYCaimTEL/Ha5E7QGXoencIwYL2688Enjnj7+9AUrem8/MmDsUa2z/Clbc3z82KbT/wCKIKUFHG9VDXbJkiMgfuzcQQJMTGhYurkRGam7vJNX+YDJ+I5ZzBnGoUf5TnKs4s44xRul9zY+OYh2eSJ4eGdWiJX2Iyud5Vqb1Q1vm7gwkoSOIWRFh5Y/ZIHYysnNlugZCgUHsVIZiXBCr6y1beE9eFcHmsPRnWdmma3jJbSPDyeqqq2Iir8deWJYcg/p+/oCHU3HuqxeyFWfx7fqw01iaCzLfqlLhdOzLGEkLKUP6T7FQEn9JYfes+3s9uDLysmX2NkcGg9nD2rVWXt16dfqGV/pu7cf9bduvK9p+NhzkQP83yNGz9Dj41J4P7EB/wBUr/3iVv8Ai6L+6Fnn6AaaaaAaaaaAaaaaAa5j5W85L4qnev8A5QeTd4FUpuG2pt45BWE5tDgN3Ucx/E/IP7fk1/37nr07WlvneaZ2E4tcLNhpUiWYWDLFarMrsZXUr2ScOhRVUiL1sjMWlDhYwK5kvKOYx26oNsjw1v23DJJXSfLVoKD0aqT3ZqscjMbQkdeIRYcRJI8UEsTSrGzFBVtpfxLHdsWLkT+H/wAzYk5PLDFMmW2r8VqYLQAWp+0vC1/zse6liBXm5A4QP03GvvBszOcxXw8eJahWMArTSvYS72l+QrFlVWiCmAIwCsSJCwAKhdFuux5q9yjY+J2T6Y5RIzZXI2+00QFjmICKDiJmK1Py8uE9s49cnqQygVy1/EH8LI7KxM/hDyybO82j7erbXthwcUk4ijlyU6SGGuCOZWQO8kcYJlSMkKelYDKtnsFjc42Lv4xsjUhtmlkIhFaqmRA3qmQEhZF56soJAYEcn99aO5b8qLuqSOhgdqPtqNWEcs2XsrenYwFlYxisY4gs6iMjvJ2jkMnKNH6pYcGQ82T4HKPZ2lsijmhDCMZGm4rdqq0rOwlM7mlE4VE9bKFUmRuyExDh9WK2aRG8LJd9NaKN98Q4b3SwYO5lVqKPjrLNWryWgTy3t6yMkbDjgetmUg/b88jHEnkCc3ffY29SHwxHS6Qz2v6rluZZOWi/Hx0/Ev6ue35P2114er2WPP51+jHJ2ZYdNVKWz5YgmxEMGG2leiMdJMvYfJ2arK7ewXJK8QglDBOITEjyD2d3Vni6BngNkvOz7PszrsvYcW6vkeuvVO57kmP9HrX8rz/AWTv7Ow9Qi468H2c8jXKSw8G08rJfNNQ8RLl5sdDJnqNOnfPb3Q07TWYV/UeOsjxxs3I4J5QcEkffHJh4KTdzQ1k3NVxCSinB8iShYlZWtfr9wRXQFYxxGV5Yse7A8dAXhTcaaaaAarW7PGvjzfcsNjeux8FnZq8bRQy5DHxTvEjHkqrOpKjn7+tNNdKrbKZb1yafynhmZwjYtZrK7ket4j8U0+/xfGe1YjIksblcPXBZJUkSRSen2GSaVWH7FZHB+mINkx2OoYjH1cTiqcNSlShSvWrwIEjhiRQqIqj6VQAAAP2A001bL7bvck35bZIVwr9KSJOmmmuRsaaaaAaaaaAaaaaAaaaaA//Z",
                "viewOnce": false
              },
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "",
              "id": "554789278622:3EB01E4DF4BE773E2183DE",
              "isGroup": false,
              "mediaType": "image",
              "messageTimestamp": 1773750516000,
              "messageType": "ImageMessage",
              "messageid": "3EB01E4DF4BE773E2183DE",
              "owner": "554789278622",
              "quoted": "",
              "reaction": "",
              "sender": "248327123804222@lid",
              "senderName": "José Rengel",
              "sender_lid": "248327123804222@lid",
              "sender_pn": "554784885120@s.whatsapp.net",
              "source": "web",
              "status": "",
              "text": "",
              "track_id": "",
              "track_source": "",
              "type": "media",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "554789278622",
            "token": "9bfba0af-b173-4bba-af0a-2e603cade9e7"
          },
          "webhookUrl": "https://n8n.plusstech.com.br/webhook-test/4ab0c507-e1ae-41a4-9875-b7fe7b4a4c1e",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEFONE": {
      "main": [
        [
          {
            "node": "FORMATAR TELEFONE E DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS LEAD": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EIXSTE OU NAO": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "CAPTURAR OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Mensagens1": {
      "main": [
        [
          {
            "node": "Verificar Combinação2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Pegar Mensagem 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Armazenar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFORMA URL EM BASE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Texto": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem ": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Mensagem 1": {
      "main": [
        [
          {
            "node": "Juntar Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Combinação2": {
      "main": [
        [
          {
            "node": "Lock Atômico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "TELEFONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "BuscarUsuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Conversa em Aberto?1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Tem Áudio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena Áudio": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Imagem": {
      "main": [
        [
          {
            "node": "Armazena Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena Imagem": {
      "main": [
        [
          {
            "node": "Pegar Mensagem ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RENOMEIA CAMPO3": {
      "main": [
        [
          {
            "node": "Armazena Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "RENOMEIA CAMPO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATAR TELEFONE E DATA": {
      "main": [
        [
          {
            "node": "BUSCAR CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - IA QUALIFICACAO - ADV1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "SALVAR RESUMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Tem Conversa em Aberto?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Atômico": {
      "main": [
        [
          {
            "node": "IA Ativa?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA Ativa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarUsuário": {
      "main": [
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EIXSTE OU NAO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR CLIENTE": {
      "main": [
        [
          {
            "node": "MONTAR PROMPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SALVAR RESUMO": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MONTAR PROMPT": {
      "main": [
        [
          {
            "node": "DADOS LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ÁUDIO BOAS VINDAS": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRANSFORMA URL EM BASE2": {
      "main": [
        [
          {
            "node": "Analizar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTURAR OUTPUT": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Ativa?": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Áudio?": {
      "main": [
        [
          {
            "node": "ÁUDIO BOAS VINDAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a230dd78-0f7b-4882-af0f-0d1c72c65c17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "804c00b1e5188d906bae124422d170cfebea2fae250a07ce077882d6fad45087"
  },
  "id": "B4l1mdZhPVTJ7CV9",
  "tags": []
}